<div class="media track-display">
	<div class="media-left media-middle">
		<img class="media-object" ng-src="{{track.album.images[2].url}}" alt="...">
	</div>
	<div class="media-body">
		<span class="glyphicon glyphicon-ok-sign pull-right" ng-show="checkInQueue('{{track.uri}}')"></span>
		<span class="glyphicon glyphicon-plus-sign pull-right" ng-click="addTrack('{{track.uri}}')" ng-show="!checkInQueue('{{track.uri}}')"></span>
		<h4 class="media-heading">{{track.name}}</h4>
		<p><a ng-href="#/artist/{{track.artists[0].uri}}">{{track.artists[0].name }}</a> - <a ng-href="#/album/{{track.album.uri}}">{{track.album.name}}</a></p>
	</div>
</div>
