<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="rockboxWebClientApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

<div ng-controller="PlayerCtrl" class="player">
  <div class="container-fluid">
    <div class="row display-table">
     <div class="col-xs-3 display-cell">
      <span class="glyphicon" ng-class="{'glyphicon-play':!playing, 'glyphicon-pause':playing}" ng-click="togglePlayPause()"></span>
      <span class="glyphicon glyphicon-forward" ng-click="skip()"></span>
      <span class="glyphicon glyphicon-flash" ng-click="toggleRadio()" alt="Radio mode" ng-class="{'off':!radio}"></span>
      </div>
    <div class="col-xs-6 text-center display-cell">
      <h4><span class="glyphicon glyphicon-flash" ng-show="track.radioPlay"></span> {{track.name}}</h4>
      <p><a ng-href="#/artist/{{track.artists[0].id}}">{{track.artists[0].name}}</a> - <a ng-href="#/album/{{track.album.id}}">{{track.album.name}}</a></p>

    </div>

    <div class="col-xs-3 text-right display-cell">

        <span class="glyphicon glyphicon-volume-down" ng-click="volumeDown()"></span>
        <input type="range" name="volume" id="volume" ng-change="updateVolume()" ng-model="volume" min="0" max="100">
        <span class="glyphicon glyphicon-volume-up" ng-click="volumeUp()"></span>
    </div>

    </div>
  </div>


    <div class="container-fluid search-container">

      <div class="input-group">
      <input type="text" class="form-control" ng-keyup="keyPress($event.keyCode)" ng-model="searchterms" placeholder="Search for..." auto-focus spellcheck="false">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search()">Go!</button>

      </span>
    </div><!-- /input-group -->
  </div>
</div>


    <div class="container-fluid">
      <div ng-view=""></div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->
    <!--<script src="http://@@socket-server:@@socket-server-port/socket.io/socket.io.js"></script>-->
    <!--<script src="http://rockbox-reiling.rhcloud.com/socket.io/socket.io.js"></script>-->
    <script src="http://passthrough-reiling.rhcloud.com/socket.io/socket.io.js"></script>
<!--    <script src="http://localhost:3000/socket.io/socket.io.js"></script> -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/angular-spotify/dist/angular-spotify.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <script src="bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/player.js"></script>
        <script src="scripts/controllers/search.js"></script>
        <script src="scripts/controllers/artist.js"></script>
        <script src="scripts/controllers/album.js"></script>
        <script src="scripts/directives/track-display.js"></script>
        <script src="scripts/directives/artist-display.js"></script>
        <script src="scripts/directives/album-display.js"></script>
        <!-- endbuild -->
</body>
</html>
